@use "./base.scss";

// put your custom CSS here!

.article-and-author-img {
    article {
        flex: 2;
    }

    img {
        @media only screen and (min-width: 768px) {
          flex: 1;
        }
  
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
    }
}